# Specifies the backend server URL (localhost:8080 for local development)
NEXT_PUBLIC_BACKEND_URI=http://localhost:8080
# Indicates the deployment environment (set to LOCAL for development)
NEXT_PUBLIC_DEPLOYMENT=LOCAL
